//---GLOBAL---
$color-dark-blue     : #0B1927;
$color-white         : white;
$color-black         : black;
$color-red           : #FF3A42;
$color-grey          : #95989A;
$color-lighter-grey  : #F5F5F5;
$color-light-grey    : #CECECE;
$color-light-grey-2  : #DADADA;
$color-dark-grey     : #5F5F5F;
$color-light-blue    : #AFB7BF;


//---HEADER---
$font-size           : 20px; // 1rem
$font-size-small     : 0.75rem; // 15px
$font-size-medium    : 1.5rem; // 30px
$font-size-big       : 2.5rem; // 50px
$font-size-very-big  : 3rem; // 60px
$font-size-bigger    : 5rem; // 100px
$line-height         : 1.5rem;
$container-max-width : 1440px;
$grid-unit           : 3.125vw;
$top-mobile-height   : 60px;

//---GALLERY---
$breakpoints : (
  smaller   : 320px,
  small     : 640px,
  medium    : 992px,
  large     : 1280px,
  larger    : 1600px,
  wide      : 1920px
);




//---CONTACT---


//---FOOTER---

